.mt-1 {
    margin-top: 8px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    p:last-child {
        margin-bottom: 0;
    }
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-centered {
    max-width: 500px;
    margin: auto;
}

.dashboard-content {
    margin-top: 70px;
}

.dashboard-table {
    td {
        width: 1px;
        white-space: nowrap;

        &:last-child {
            width: 100%;
        }
    }
}

.group-filter {
    span {
        position: absolute;
        right: 5px;
        top: 0px;
        bottom: 0px;
        height: 14px;
        margin: auto;
        font-size: 14pt;
        cursor: pointer;
        color: #ccc;
    }
}

.status-chip, .interval {
    &.no { background-color: #FFF; }
    &.p0 { background-color: #C6C6C6; }
    &.p1 { background-color: #FFBF00; }
    &.p2 { background-color: #FF6A00; }
    &.p3 { background-color: #FF0083; }
    &.p4 { background-color: #9400FF; }
    &.p5 { background-color: #0065FF; }
    &.p6 { background-color: #00CD19; }
    &.p7 { background-color: #00FF11; }
}

.online-bar {
    width: 100%;
    height: 10px;
    margin-top: 4px;

    .interval {
        float: left;

        height: 10px;
    }
}

.status-chip {
    display: inline-block;
    color: white;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    text-shadow: 1px 1px 2px gray;
    margin: 2px;

    &.no {
        color: black;
    }
}

.online-bar:after {
    clear: both;
    content: '';
    display: table;
}

.date-nav a {
    display: inline-block;
    padding: 6px;
}

a {
    &.no-href-a {
        cursor: pointer;
    }
}

.users-select {
    &:after {
        display: table;
        content: '';
        clear: both;
    }

    .user-select {
        width: 25%;
        float: left;
        text-align: center;
        padding: 8px;
        cursor: pointer;

        &.active {
            background-color: #D2FFC1;
        }
    }

    @media (max-width: 1200px) {
        .user-select {
            width: 33.33%;
        }
    }

    @media (max-width: 768px) {
        .user-select {
            width: 100%;
        }
    }
}

.proceed {
    margin-top: 16px;
    margin-bottom: 16px;
}